@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

:root {

    --wrapper-max-width: 1400px;
    --wrapper-inline-padding: 4rem;

/* colors */

    --clr-light: hsl(32, 100%, 97%);
    --clr-dark: hsl(193, 100%, 16%);
    --clr-light-hover: hsl(32,100%, 94%);
    --clr-dark-hover: hsl(193,100%,14%);

    --clr-primary: var(--clr-light);
    --clr-secondary: var(--clr-dark);
    --clr-hover: var(--clr-light-hover);

    --clr-accent: hsl(5, 90%, 65%);

/* font families */

    --ff-primary: "Rufina", serif;

/* font sizes */

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
    --fs-900: 4rem;

}

.dark-mode {
    --clr-primary: var(--clr-dark);
    --clr-secondary: var(--clr-light);
    --clr-hover: var(--clr-dark-hover);
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

button {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    color: inherit;
    border-radius: 100vh;
    align-items: center;
    justify-content: center;
}

/* STYLING */

body {
    background: var(--clr-primary);
    color: var(--clr-secondary);
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
  }

.wrapper {
    position: relative;
    width: min(var(--wrapper-max-width), 100% - var(--wrapper-inline-padding));
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-block: var(--fs-500);

    border-bottom: 2px solid var(--clr-accent);
}

header > h1 {
    font-size: var(--fs-700);
    text-transform: uppercase;
}

.book-cards-wrapper {
    margin-bottom: 2rem;
}

.book-card {
    display: grid;
    grid-template-columns: 2fr 1fr auto auto;
    /* gap: 2rem; */
    align-items: center;
    padding: 1rem .5rem;
    border-bottom: 1px solid var(--clr-accent);
}

.book-primary-info,
.book-secondary-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-dark {
    background: var(--clr-secondary);
    color: var(--clr-primary);
    border: 2px solid transparent;
}

.icon-tabler-xbox-x,
.icon-tabler-edit {
    stroke: var(--clr-secondary);
}

.btn-round {
    height: var(--fs-600);
    aspect-ratio: 1;
}

.btn-add {
    position: absolute;
    right: 1rem;
    text-transform: uppercase;
    padding: .75em 1.25em;
}

/* Dialog styling */

dialog {
    border: none !important;
    border-radius: 1rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 2rem;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    text-align: center;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.text-input,
.radio-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radio-buttons-input {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.close-dialog {
    position: absolute;
    top: 0;
    right: 0;
}

input[type=text],
input[type=number] {
    background: none;
    color: inherit;
    border: 2px solid var(--clr-accent);
    border-radius: 100vh;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
}

input[type=radio] {
    appearance: none;
    cursor: pointer;
    background-color: var(--clr-primary);
    height: 1.5rem;
    width: 1.5rem;

    border: 2px solid var(--clr-accent);
    border-radius: 50%;

    position: relative;
    vertical-align: text-bottom;
}

input[type=radio]:checked {
    background-color: var(--clr-accent);
}

input[type=submit] {
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 100vh;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: .75em 1.25em;
    background: var(--clr-secondary);
    color: var(--clr-primary);
    border: 2px solid transparent;
}

/* Media queries */

@media screen and (width > 600px) {
    body {
        font-size: var(--fs-500);
    }

    header > h1 {
        font-size: var(--fs-900);
    }

    .btn-round {
        height: var(--fs-700);
    }

    .icon-tabler-circle-half-2 {
        width: 36px;
        height: 36px;
        stroke-width: 1.5;
    }

    .icon-tabler-xbox-x,
    .icon.icon-tabler-edit {
        width: 32px;
        height: 32px;
    }

    .book-primary-info,
    .book-secondary-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        align-items: center;
        margin-right: 1rem;
    }
}

@media (hover: hover) {
    .book-card:hover,
    .book-card:focus-visible {
        background-color: var(--clr-hover);
    }

    .btn-dark:hover {
        background: var(--clr-primary);
        color: var(--clr-secondary);
        border: 2px solid var(--clr-secondary);
    }

    .icon-tabler-xbox-x:hover,
    .icon-tabler-xbox-x:focus-visible,
    .icon-tabler-edit:hover,
    .icon-tabler-edit:focus-visible {
        stroke: var(--clr-accent);
    }

    input[type=submit]:hover,
    input[type=submit]:focus-visible {
        background: var(--clr-primary);
        color: var(--clr-secondary);
        border: 2px solid var(--clr-secondary);
    }
}